.search-container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1dvh;
  margin-top: 5dvh;

  h3 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1dvh;
  }

  input {
    width: 50%;
    height: 5dvh;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
  }

  button {
    width: 8dvw;
    height: 5dvh;
    margin: auto;
    background-color: white;
  }

  button:hover {
    cursor: pointer;
  }
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 10dvh;
  width: 95%;
  margin: auto;
  margin-top: 20dvh;

  .search-results-container {
    display: flex;
    gap: 2%;
    height: 20dvh;
    border-bottom: 1px solid red;
  }
}

.pagination {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 1dvw;
  margin-top: 8dvh;
  margin-bottom: 8dvh;

  button {
    height: 40px;
    width: 80px;
  }

  button:hover {
    cursor: pointer;
  }

  .previous-button-prevent {
    opacity: 30%;
  }

  .previous-button-prevent:hover{
    cursor:no-drop
  }
}